html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  height: 100vh;
  background-color: #efefef;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-wrapper {
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}

@media (max-width: 900px) {
  .app-wrapper {
    width: 100%;
    margin: auto
  }
}

@media (min-width: 901px) {
  .app-wrapper {
    width: calc(70vh);
    margin: auto;
  }
}
